version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: imageEnhancer-backend
    restart: always
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: imageEnhancer-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
